.signUp{

	margin-top: 50px;
	height: 800px;
	border: 2px solid black;

}

.signIn{

	margin-top: 50px;
	height: 400px;
	border: 2px solid black;

}

#separateur{
	margin-top: 50px;
	height: 800px;
	border-right: 2px solid grey;
}