a {
	cursor: pointer;
}

#nomSite{
	margin-top: 15%;
}

#formRecherche{
	margin-top: 23%;
	width: 150px;
}

#champRecherche{
	border-right: none;
	border-radius: 0px;
	box-shadow: none;
	width: 150px;
	transition: 1s;
}

#champRecherche:focus{
	border-color: #cccccc; 
	transition: 1s;
	width: 250px;
}

#btnRecherche{
	border-left: none;
	border-radius: 0px;
}

hr{
	margin-bottom: 5px;
}

#menu li{
	height: 45px;
}

#home a{
	color: #A22B0D;
}

#menu li a{
    font-weight: bold;
    font-size: 20px;
    font-family: "Work Sans","Open Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.lienMenu a{
	color: black;
}

#menu li a:hover{
	text-decoration: none;
    background-color: #ffffff;
    border-bottom: solid 3px #A22B0D;
}

#menu li a:visited{
	background-color: #ffffff;
}

.text-divider{
	margin: 2em 0; 
	line-height: 0; 
	text-align: center;
}

.text-divider span{
	background-color: #ffffff; 
	padding: 1em;
	text-transform: uppercase;
	font-family: "Work Sans","Open Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
}

.text-divider:before{ 
	content: " "; 
	display: block; 
	border-top: 1px 
	solid #e3e3e3; 
	border-bottom: 1px 
	solid #f7f7f7;
}

.itemsAccueil img{
	width: 350px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: 0 auto;
}

.carousel-indicators li{
	width:12px;
	height:12px;
}

.carousel-indicators li:active{
	width:14px;
	height:14px;
}

.carousel .btn{
    border-radius: 0px;
    border: 3px solid white;
    background-color: #A22B0D;
    color: white;    
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Work Sans","Open Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.carousel .btn:hover{
	border: 3px solid #A22B0D;
    transition: 0.3s;
}

.btnArticle{
    border-radius: 0px;
    border: 3px solid #A22B0D;
    background-color: #A22B0D;
    color: white;    
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Work Sans","Open Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

.btnArticle:hover{
    background-color: white;
    border-color: #A22B0D;
    color: #A22B0D;
    transition: 0.3s;
}


.bandeau{
	height: 150px;
	background-image: url("../images/logobackground2.png");
}

#imgSuperman {
	height: 400px;
    position: relative;
    left: 73%;
    top:150px;
}

.footer{
	margin-top: -300px;
}

.footer h3{
	color: #E4E4E4;
	text-transform: uppercase;
	font-family: "Work Sans","Open Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;	
}

footer{
	background-color: black;
	height: 300px;
}



