
#bouton_payer {
	background:    #ff9900;
	border:        1px solid #000000;
	border-radius: 5px;
	padding:       8px 20px;
	color:         #ffffff;
	display:       inline-block;
	font:          normal bold 25px/1 "Ubuntu", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px #000000;
}

#panier_vide{
    margin-right:100px;
		margin-left: 100px;
	text-align: center;
    font-weight: bold;
    background-color: #FBF1EE;
    background-position: 9px 0px;
    background-repeat: no-repeat;
    border-left: solid 4px #A22B0D;
    border-right: solid 4px #A22B0D;
    line-height: 18px;
    padding: 15px 60px;

}


